altgraph==0.17.4
black==24.8.0
click==8.1.7
colorama==0.4.6
isort==5.13.2
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
pefile==2024.8.26
platformdirs==4.3.2
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pywin32-ctypes==0.2.3
